<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        ViewBag.actualI = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Index" ? "nav-item active" : "nav-item";
        ViewBag.actualC = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Create" ? "nav-item active" : "nav-item";
    }
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet"
          type="text/css" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
</head>
<body>
    <div class="header">

        <nav>
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li class="textcolor">
                        <a href="@Url.Action("Index", "Director")" class="nav-link">
                             Pracownicy
                        </a>
                    </li>
                    <li class="textcolor">@Html.ActionLink("Lista zespołów", "TeamList", "Director")</li>
                    <li class="textcolor">@Html.ActionLink("Dodaj zespół", "AddTeam", "Director")</li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li class="textcolor">@Html.ActionLink("Moje konto", "UserDetails", "Account")</li>
                    <li class="textcolor">@Html.ActionLink("Wyloguj", "LogOff", "Account")</li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
