<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet"
          type="text/css" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
</head>
<body>
    <div class="header">
        <nav>
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li class="textcolor"><a href="@Url.Action("Index", "User")">Moje zadania</a></li>
                    <li class="textcolor">@Html.ActionLink("Lista moich zespołów", "MyTeams", "User")</li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li class="textcolor">@Html.ActionLink("Moje konto", "UserDetails", "Account")</li>
                    <li class="textcolor">@Html.ActionLink("Wyloguj", "LogOff", "Account")</li>
                </ul>
            </div>
        </nav>

        @*<nav class="navbar navbar-expand-lg navbar-dark ng-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="@ViewBag.actualI">
                            <a href="@Url.Action("Index", "User")" class="nav-link">
                                <i class="fas fa-users fa-lg nav-link"> Moje zadania </i>
                            </a>
                        </li>
                        <div class="btn-group">
                            <button type="button" class="myBtn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user">  Zespół</i>
                            </button>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Lista moich zespołów", "MyTeams", "User", null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </ul>
                    <ul class="navbar-nav">
                        <div class="btn-group">
                            <button type="button" class="myBtn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user">  @User.Identity.Name</i>
                            </button>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Moje konto", "UserDetails", "Account", null, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Wyloguj", "LogOff", "Account", null, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>*@
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
