<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        ViewBag.actualI = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Index" ? "nav-item active" : "nav-item";
        ViewBag.actualC = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Create" ? "nav-item active" : "nav-item";
    }
</head>
<body>
    <div class="header">

        <nav class="navbar navbar-expand-lg navbar-dark ng-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <img src="~/img/pulpit.png" style="height: 80px;" />
                    </li>
                    <li class="@ViewBag.actualI">
                        <a href="@Url.Action("Index", "Director")" class="nav-link">
                            <i class="fas fa-users fa-lg nav-link"> Pracownicy </i>
                        </a>
                    </li>
                    <div class="btn-group">
                        <button type="button" class="myBtn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user">  Zespół</i>
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Lista zespołów", "TeamList", "Director", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Dodaj zespół", "AddTeam", "Director", null, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </ul>
                <ul class="navbar-nav">
                    <div class="btn-group">
                        <button type="button" class="myBtn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user">  @User.Identity.Name</i>
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Moje konto", "UserDetails", "Account", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Wyloguj", "LogOff", "Account", null, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
