@model ASPProject.Models.TaskSupExtendedViewModel

@{
    ViewBag.Title = "DetailsTask";
    Layout = "~/Views/Shared/_LayoutDirector.cshtml";
}

<div class="row">
    <div class="col">
        <h3>Wykonawca zadania</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TeamName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TeamName)
            </dd>
        </dl>
    </div>
</div>
    <h3>Szczegóły zadania</h3>
<div class="row">
    <div class="col">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="col">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ExpectedTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpectedTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Time) min
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <table class="table table-striped table-hover table-primary">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Godzina rozpoczęcia</th>
                <th scope="col">Godzina zakończenia</th>
                <th scope="col">Całkowity czas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Works)
            {
                <tr>
                    <td>@item.Date.Value.ToString("d")</td>
                    <td>@item.StartHour.Value.ToString("hh\\:mm")</td>
                    <td>@item.EndHour.Value.ToString("hh\\:mm")</td>
                    <td>@((item.EndHour - item.StartHour).Value.ToString("hh\\:mm"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>